:root {
	--white: #fff;
	--black: #000;
	--danger: #EB003B;
	--warning: #B9131E;/* 경고 */
	--success: #008A1E;/* 초록 */
	--information: #2768FF;
	--primary: #246BEB;
	--primary5: #EFF5FF;
	--primary10: #D3E1FB;
	--primary20: #A7C4F7;
	--primary30: #7CA6F3;
	--primary40: #5089EF;
	--primary60: #1D56BC;
	--primary70: #16408D;
	--primary80: #0E2B5E;
	--primary90: #07152F;
	--secondary: #003675;
	--secondary5: #EDF1F5;
	--secondary10: #CDD7E4;
	--secondary20: #B4C4D6;
	--secondary30: #99B0CB;
	--secondary40: #2A5C96;
	--secondary50: #003675;
	--secondary60: #002B5E;
	--secondary70: #002046;
	--secondary80: #00162F;
	--secondary90: #000B17;
	--danger60: #D50136;
	--accent5: #FDF2F3;
	--point: #E71825;
	--point5: #FDF2F3;
	--point10: #FAD1D3;
	--point20: #F5A3A8;
	--point30: #F1747C;
	--point40: #EC4651;
	--point60: #B9131E;
	--point70: #8B0E16;
	--point80: #5C0A0F;
	--point90: #2E0507;
	--gray5: #F8F8F8;
	--gray10: #F0F0F0;
	--gray20: #E4E4E4;
	--gray30: #D8D8D8;
	--gray40: #C6C6C6;
	--gray50: #8E8E8E;
	--gray60: #717171;
	--gray70: #555555;
	--gray80: #2D2D2D;
	--gray90: #1D1D1D;
	--spacer60: 25.4rem;
	--spacer59: 25rem;
	--spacer58: 24.6rem;
	--spacer57: 24.2rem;
	--spacer56: 23.8rem;
	--spacer55: 23.4rem;
	--spacer54: 22.6rem;
	--spacer53: 22.2rem;
	--spacer52: 20.8rem;
	--spacer51: 20.4rem;
	--spacer50: 20rem;
	--spacer49: 19.6rem;
	--spacer48: 19.2rem;
	--spacer47: 18.8rem;
	--spacer46: 18.4rem;
	--spacer45: 18rem;
	--spacer44: 17.6rem;
	--spacer43: 17.2rem;
	--spacer42: 16.8rem;
	--spacer41: 16.4rem;
	--spacer40: 16rem;
	--spacer39: 15.6rem;
	--spacer38: 15.2rem;
	--spacer37: 14.8rem;
	--spacer36: 14.4rem;
	--spacer35: 14rem;
	--spacer34: 13.6rem;
	--spacer33: 13.2rem;
	--spacer32: 12.8rem;
	--spacer31: 12.4rem;
	--spacer30: 12rem;
	--spacer29: 11.6rem;
	--spacer28: 11.2rem;
	--spacer27: 10.8rem;
	--spacer26: 10.4rem;
	--spacer25: 10rem;
	--spacer24: 9.6rem;
	--spacer23: 9.2rem;
	--spacer22: 8.8rem;
	--spacer21: 8.4rem;
	--spacer20: 8rem;
	--spacer19: 7.6rem;
	--spacer18: 7.2rem;
	--spacer17: 6.8rem;
	--spacer16: 6.4rem;
	--spacer15: 6rem;
	--spacer14: 5.6rem;
	--spacer13: 5.2rem;
	--spacer12: 4.8rem;
	--spacer11: 4.4rem;
	--spacer10: 4rem;
	--spacer9: 3.6rem;
	--spacer8: 3.2rem;
	--spacer7: 2.8rem;
	--spacer6: 2.4rem;
	--spacer5: 2rem;
	--spacer4: 1.6rem;
	--spacer3: 1.2rem;
	--spacer2: 0.8rem;
	--spacer1: 0.4rem;
	--spacer0: 0;
	--spacer-default: .1rem;
	--spacer-default2: .2rem;
	--spacerfull: 100%;
}